.page {
  min-height: 100vh;
  background: #0f0f0f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.8rem;
  color: #00ffff;
}

.subtitle {
  font-size: 1.2rem;
  color: #ccc;
}
